---
---
@import "{{ site.theme }}";

#header {
    display: none;
  }
  
span.credits.left,
span.credits.right {
    display: none;
}

#title hr {
    display: none;
}

#title p {
    font-size: 9px;
}

h2,h3 {
    margin-top: 1.5em;
}