---
---
@import "{{ site.theme }}";

#header {
    display: none;
  }
  
span.credits.left,
span.credits.right {
    display: none;
}

#title h1 {
    font-size: 4em !important;
}

#title hr {
    display: none;
}

#title p {
    font-size: 1.1em !important;
}

h1 {
    text-align: center !important;
}

h2,h3 {
    margin-top:3em;
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #e8e8e8 !important;
}

.right-align {
    text-align: right;
    font-size: 0.8em !important;
}
