---
---
@import "{{ site.theme }}";

#header {
    display: none;
  }
  
span.credits.left,
span.credits.right {
    display: none;
}

#title hr {
    display: none;
}

#title p {
    font-size: 1em !important;
}

h2,h3 {
    margin-top: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #e8e8e8 !important;
}
