---
---
@import "{{ site.theme }}";

#header {
    display: none;
  }
  
span.credits.left,
span.credits.right {
    display: none;
}

#title hr {
    display: none;
}

#title p {
    font-size: 11px;
}
